@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer et Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-bar {
  transition: transform 0.2s ease-out;
}
